doctype html
html
	head
		link(href='/stylesheet.css', rel='stylesheet')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
	body
		h2= message
		h2 Welcome, #{user.firstname}! What would you like to do?
		a(href='/addPost') make a new post
		br
		a(href='/seeMyPosts') see all your posts
		br
		a(href='/seePosts') see all users posts
		br
		a(href='/logout') log out

